@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p.text-lg {
    line-height: 2rem;
  }

  p.text-xl {
    line-height: 2.5rem;
  }

  /* Fix quotation marks globally */
  body {
    font-feature-settings:
      "kern" 1,
      "liga" 1,
      "calt" 1,
      "dlig" 1;
  }
}
